<div class="card">
    <div class="card-body">
        <h3>CONSULTAR ESTUDIANTES</h3>
        <hr>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Nombre</th>
                    <th>telefono</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of terceros; index as i">
                    <td>{{item.terceroId}}</td>
                    <td>{{item.nombre}}</td>
                    <td>{{item.telefono}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>